button {
  color: white;
  background-color: orange;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 0px;
  border-color: none;
  cursor: pointer;
}
